.App {
    display:flex;
    flex-flow: column nowrap;
    max-width: 1280px;
    height: 100vh;
  }

.margins {
    margin: 2px;
}

@media (min-width: 600px) {
    .margins {
        margin: 5px;
    }
}

@media (min-width: 960px) {
    .margins {
        margin: 5px;
    }
}

.padding {
    padding: 5px;
}

@media (min-width: 600px) {
    .padding {
        padding: 10px;
    }
}

@media (min-width: 960px) {
    .padding {
        padding: 15px;
    }
}