body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.firebaseui-idp-password{
background: #3b5998 !important
}
.firebaseui-list-item {
  margin-bottom: 0px !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div {
  box-sizing: border-box;
}

.firebaseui-id-page-callback {
  display: none !important;
}
.firebaseui-callback-indicator-container {
  display: none !important;
}